#git ignore

# Word files #
*.docx

/SP/SP6/formcontrols/target/
/SP/SP7/AngularJquery/target/
SP/SP1/jonas_schelde_task_1/.idea/
SP/SP1/jonas_schelde_task_1/training.iml
SP/SP1/jonas_schelde_task_1/target/

SP/SP1/jonas_schelde_task_1/.DS_Store

SP/SP1/jonas_schelde_task_3/.idea/.name

SP/SP1/jonas_schelde_task_3/.idea/compiler.xml

SP/SP1/jonas_schelde_task_3/.idea/misc.xml

SP/SP1/jonas_schelde_task_3/.idea/modules.xml

SP/SP1/jonas_schelde_task_3/.idea/workspace.xml

SP/SP1/jonas_schelde_task_3/protocol.iml

SP/SP1/jonas_schelde_task_5/.idea/.name

SP/SP1/jonas_schelde_task_5/.idea/compiler.xml

SP/SP1/jonas_schelde_task_5/.idea/misc.xml

SP/SP1/jonas_schelde_task_5/.idea/modules.xml

SP/SP1/jonas_schelde_task_5/.idea/workspace.xml

SP/SP1/jonas_schelde_task_5/.DS_Store

SP/SP1/jonas_schelde_task_5/jonas_schelde_task_5.iml

.DS_Store

.DS_Store

SP/SP1/.DS_Store

SP/SP2/schelde_task_1/.idea/compiler.xml

SP/SP2/schelde_task_1/.idea/misc.xml

SP/SP2/schelde_task_1/.idea/modules.xml

SP/SP2/schelde_task_1/.idea/uiDesigner.xml

SP/SP2/schelde_task_1/.idea/workspace.xml

SP/SP2/schelde_task_1/ex1.iml

SP/SP2/schelde_task_2/.gradle/3.1/taskArtifacts/taskArtifacts.bin

SP/SP2/schelde_task_2/.gradle/3.1/taskArtifacts/fileSnapshots.bin

SP/SP2/schelde_task_2/.gradle/3.1/taskArtifacts/fileHashes.bin

SP/SP2/schelde_task_2/.gradle/3.1/taskArtifacts/cache.properties.lock

SP/SP2/schelde_task_2/.gradle/3.1/taskArtifacts/cache.properties

SP/SP2/schelde_task_2/.idea/.name

SP/SP2/schelde_task_2/.idea/compiler.xml

SP/SP2/schelde_task_2/.idea/gradle.xml

SP/SP2/schelde_task_2/.idea/libraries/Gradle__junit_junit_4_11.xml

SP/SP2/schelde_task_2/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml

SP/SP2/schelde_task_2/.idea/libraries/Java_EE_6_Java_EE_6.xml

SP/SP2/schelde_task_2/.idea/misc.xml

SP/SP2/schelde_task_2/.idea/modules.xml

SP/SP2/schelde_task_2/.idea/modules/http-training_main.iml

SP/SP2/schelde_task_2/.idea/modules/http-training_test.iml

SP/SP2/schelde_task_2/.idea/modules/http-training.iml

SP/SP2/schelde_task_2/.idea/vcs.xml

SP/SP2/schelde_task_2/.idea/workspace.xml

SP/SP2/schelde_task_3/.idea/misc.xml

SP/SP2/schelde_task_3/.idea/modules.xml

SP/SP2/schelde_task_3/.idea/workspace.xml

SP/SP2/schelde_task_3/schelde_task_3.iml

SP/SP2/schelde_task_4/.gradle/3.1/taskArtifacts/cache.properties

SP/SP2/schelde_task_4/.gradle/3.1/taskArtifacts/cache.properties.lock

SP/SP2/schelde_task_4/.gradle/3.1/taskArtifacts/fileHashes.bin

SP/SP2/schelde_task_4/.gradle/3.1/taskArtifacts/fileSnapshots.bin

SP/SP2/schelde_task_4/.gradle/3.1/taskArtifacts/taskArtifacts.bin

SP/SP2/schelde_task_4/.idea/artifacts/Gradle___info_schelde___thread_2_training_1_0_SNAPSHOT_war__exploded_.xml

SP/SP2/schelde_task_4/.idea/artifacts/Gradle___info_schelde___thread_2_training_1_0_SNAPSHOT_war.xml

SP/SP2/schelde_task_4/.idea/compiler.xml

SP/SP2/schelde_task_4/.idea/gradle.xml

SP/SP2/schelde_task_4/.idea/libraries/Gradle__junit_junit_4_11.xml

SP/SP2/schelde_task_4/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml

SP/SP2/schelde_task_4/.idea/misc.xml

SP/SP2/schelde_task_4/.idea/modules.xml

SP/SP2/schelde_task_4/.idea/modules/thread-2-training_main.iml

SP/SP2/schelde_task_4/.idea/modules/thread-2-training_test.iml

SP/SP2/schelde_task_4/.idea/modules/thread-2-training.iml

SP/SP2/schelde_task_4/.idea/workspace.xml

SP/SP2/schelde_task_5/.gradle/3.1/taskArtifacts/cache.properties

SP/SP2/schelde_task_5/.gradle/3.1/taskArtifacts/cache.properties.lock

SP/SP2/schelde_task_5/.gradle/3.1/taskArtifacts/fileHashes.bin

SP/SP2/schelde_task_5/.gradle/3.1/taskArtifacts/fileSnapshots.bin

SP/SP2/schelde_task_5/.gradle/3.1/taskArtifacts/taskArtifacts.bin

SP/SP2/schelde_task_5/.idea/.name

SP/SP2/schelde_task_5/.idea/artifacts/Gradle___info_schelde___server_training_1_0_SNAPSHOT_war__exploded_.xml

SP/SP2/schelde_task_5/.idea/artifacts/Gradle___info_schelde___server_training_1_0_SNAPSHOT_war.xml

SP/SP2/schelde_task_5/.idea/compiler.xml

SP/SP2/schelde_task_5/.idea/gradle.xml

SP/SP2/schelde_task_5/.idea/libraries/Gradle__junit_junit_4_11.xml

SP/SP2/schelde_task_5/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml

SP/SP2/schelde_task_5/.idea/misc.xml

SP/SP2/schelde_task_5/.idea/modules.xml

SP/SP2/schelde_task_5/.idea/modules/server-training_main.iml

SP/SP2/schelde_task_5/.idea/modules/server-training_test.iml

SP/SP2/schelde_task_5/.idea/modules/server-training.iml

SP/SP2/schelde_task_5/.idea/vcs.xml

SP/SP2/schelde_task_5/.idea/workspace.xml

SP/SP1/jonas_schelde_task_5/.idea/inspectionProfiles/profiles_settings.xml

CA/CA1/chat-server-gruppe-ti/.idea/.name

CA/CA1/chat-server-gruppe-ti/.idea/compiler.xml

CA/CA1/chat-server-gruppe-ti/.idea/misc.xml

CA/CA1/chat-server-gruppe-ti/.idea/modules.xml

CA/CA1/chat-server-gruppe-ti/.idea/workspace.xml

CA/CA1/chat-server-gruppe-ti/info-schelde-chat-server.iml
