#git ignore

# Word files #
*.docx

/SP/SP6/formcontrols/target/

/SP/SP7/AngularJquery/target/

SP/SP1/jonas_schelde_task_1/.idea/

SP/SP1/jonas_schelde_task_1/training.iml

SP/SP1/jonas_schelde_task_1/target/

SP/SP1/jonas_schelde_task_1/.DS_Store

SP/SP1/jonas_schelde_task_3/.idea/

SP/SP1/jonas_schelde_task_3/protocol.iml

SP/SP1/jonas_schelde_task_5/.idea/

SP/SP1/jonas_schelde_task_5/.DS_Store

SP/SP1/jonas_schelde_task_5/jonas_schelde_task_5.iml

*.DS_Store

SP/SP1/.DS_Store

SP/SP2/schelde_task_1/.idea/

SP/SP2/schelde_task_1/ex1.iml

SP/SP2/schelde_task_2/.gradle/

SP/SP2/schelde_task_2/.idea/

SP/SP2/schelde_task_3/schelde_task_3.iml

SP/SP2/schelde_task_4/.gradle/

SP/SP2/schelde_task_4/.idea/

SP/SP2/schelde_task_5/.gradle/

SP/SP2/schelde_task_5/.idea/

SP/SP2/schelde_task_5/.idea/

SP/SP1/jonas_schelde_task_5/.idea/inspectionProfiles/profiles_settings.xml

CA/CA1/chat-server-gruppe-ti/.idea/

CA/CA1/chat-server-gruppe-ti/info-schelde-chat-server.iml

CA/CA1/.idea/CA1.iml

CA/CA1/.idea/misc.xml

CA/CA1/.idea/modules.xml

CA/CA1/.idea/workspace.xml

CA/CA1/chat-server-gruppe-ti/.idea/

CA/CA1/chat-server-gruppe-ti/chat.iml

CA/CA1/chat-server-one-gruppe-ti/chat.iml

CA/CA1/chat-server-two-gruppe-ti/.idea/

CA/CA1/chat-server-two-gruppe-ti/chat-server-two-gruppe-ti.iml

CA/CA1/chat-server-two-gruppe-ti/target/

CA/CA1/chat-server-three-gruppe-ti/target/

CA/CA1/chat-server-three-gruppe-ti/.idea/

CA/CA1/chat-server-three-gruppe-ti/chat-server-two-gruppe-ti.iml

CA/CA1/chat-server-one-gruppe-ti/.idea/

CA/CA1/chat-server-three-gruppe-ti/chat-server-three-gruppe-ti.iml

CA/CA1/chat-server-three-gruppe-ti/.idea/

CA/CA1/chat-server-gruppe-ti/.idea/

CA/CA1/chat-server-three-gruppe-ti/chat-three.iml

CA/CA1/chat-server-three-gruppe-ti/.idea/

CA/CA1/chat-server-three-gruppe-ti/out/

CA/CA1/chat-server-two-gruppe-ti/chat.iml

CA/CA1/web-server/.idea/

CA/CA1/web-server/web-server-chat-landingpage.iml

CA/CA1/chat-client-one-gruppe-ti/.idea/

CA/CA1/chat-client-one-gruppe-ti/chat-client-one-gruppe-ti.iml

CA/CA1/chat-web-server-onepage/web/library/chat-three.jar

*.class
*.iml

CA/CA1/chat-server-two-gruppe-ti/.idea/

CA/CA1/chat-web-server-onepage/.idea/

SP/SP2/schelde_task_3/.idea/

SP/SP3/solution-jpa-mapping-exercise-three/.idea/

SP/.DS_Store

CA/CA1/chat-web-onepage-three/.idea/

CA/CA1/chat-web-server-onepage-two/.idea/workspace.xml
